.webstudio {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 31px;
  position: absolute;
  width: 145px;
  height: 31px;
  left: 215px;
  top: 24px;
  letter-spacing: 0.03em;
}
ul {
  list-style: none;
}

ul li {
  display: inline-block;
  margin-right: 20px;
}

ul li:last-child {
  margin-right: 0;
}

ul li h4 {
  font-size: 18px;
  font-weight: bold;
}

ul li p {
  font-size: 14px;
  line-height: 1.5;
}
@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@700&family=Roboto:wght@400;500;700;900&display=swap");
body {
  font-family: "Roboto", sans-serif;
  display: flex;
  flex-direction: column;
}
main {
  display: flex;
  flex-direction: column;
}
.menu {
  font-family: "Roboto", sans-serif;
}
.nav-links a,
.nav-links a:hover,
.nav-links a:focus {
  text-decoration: none;
}
.menu li:hover {
  color: #2196f3;
}

.menu li:hover a {
  color: rgb(0, 136, 255);
}
.menu a,
.menu a:hover,
.menu a:focus {
  color: #080808;
  text-decoration: none;
}

.studio-link:hover {
  color: rgb(0, 98, 255);
  text-decoration: none;
}

.studio-link:hover {
  color: black;
}
.menu {
  position: absolute;
  width: 42px;
  height: 16px;
  left: 453px;
  top: 32px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;
  color: #212121;
}
.menu {
  display: flex;
  list-style: none;
  align-items: center;
}

.menu li {
  margin-right: 10px;
}

.menu li:last-child {
  margin-right: 0;
}
.contact-list {
  display: flex;
  list-style: none;
  align-items: center;
}

.contact-list li {
  margin-right: 10px;
}

.contact-list li:last-child {
  margin-right: 0;
}

/* info@devstudio.com */
.contact-list li:first-child {
  position: absolute;
  width: 135px;
  height: 16px;
  left: 1097px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;
  color: #2196f3;
}

/* +1 212-772-4150 */
.contact-list li:last-child {
  position: absolute;
  width: 113px;
  height: 16px;
  left: 1232px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;
  color: #757575;
}

a[rel="webstudio"]::before {
  content: "web";
  color: blue;
}

a[rel="webstudio"]::after {
  content: "studio";
  color: black;
}

ul {
  list-style-type: none;
}
.nav-links a {
  font-weight: 500;
  font-size: 14;
  line-height: 1.88;
  letter-spacing: 0.02em;
  text-decoration: none;
  color: #212121;
}
.header-adress a {
  font-weight: 500;
  font-size: 14;
  line-height: 1.88;
  letter-spacing: 0.02em;
  text-decoration: none;
  color: #757575;
}
.nav-links a:hover,
.nav-links a:focus,
.header-adress a:hover,
.header-adress a:focus {
  color: #080808;
}
.webstudio {
  position: relative;
  z-index: 2;
}
.webstudio li a:hover {
  color: rgb(0, 136, 255);
  text-decoration: none;
}
.contact-list li a {
  color: gray;
  text-decoration: none;
}
.contact-list {
  position: relative;
  z-index: 2;
}
.contact-list li a:hover {
  color: rgba(33, 150, 243, 1);
}
.feature-list {
  display: flex;
  flex-direction: row;
}

.feature-list li {
  flex: 1;
}
.images-list {
  display: flex;
  flex-direction: row;
}

.images-list li {
  flex: 1;
}
.images-list {
  position: relative;
}

.images-list h2 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  text-align: center;
  margin-top: -50px;
}

.images-list li {
  display: inline-block;
  margin: 10px;
}
.designers-list {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

.designers-list li {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 10px;
  text-align: center;
}
.designers-list h2 {
  position: absolute;
  text-align: center;
  width: 90%;
  top: 1080px;
}
.designers-list img {
  width: 200px;
  height: 200px;
}
.designers-list h4,
.designers-list p {
  margin-top: 10px;
}

.filter-buttons button {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-decoration: none;
  display: inline-block;
  color: #212121;
  background-color: rgb(225, 225, 225);
  border: none;
  cursor: pointer;
  margin-right: 10px;
  padding: 5px 10px;
  z-index: 2;
}

.filter-buttons button:hover,
.filter-buttons button:focus {
  color: rgb(255, 255, 255);
  background-color: rgb(0, 136, 255);
}
#portofoliolist li[data-category] {
  color: gray;
}
#portofoliolist li[data-category] p {
  color: initial;
}
.box-top {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: absolute;
  width: 1600px;
  height: 300px;
  left: 0px;
  top: px;
  background-color: #2f303a;
}

section ul {
  display: flex;
  flex-direction: column;
}

section ul li {
  margin-bottom: 20px;
}

section h4 {
  margin-top: 350px;
  z-index: 2;
}

section ul li img {
  position: relative;
  margin-bottom: 10px;
}

section h1 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  color: #ffffff;
}
section {
  margin-top: 200px;
  display: block;
  margin: 20px;
  padding: 20px;
  background-color: #f0f0f0;
  border: 1px solid #ccc;
}

section button {
  position: absolute;
  top: 70%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  color: #ffffff;
  background-color: #2196f3;
}

.filter-buttons {
  display: flex;
  justify-content: center;
  align-items: center;
}

#portofoliolist {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}

#portofoliolist li {
  text-align: center;
}

footer {
  position: relative;
}

.web-footer {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 31px;

  letter-spacing: 0.03em;
}

section.box-bottom {
  position: absolute;
  width: 1600px;
  height: 251px;
  left: 0px;
  top: 20px;
  background-color: #2f303a;
}

.efective-adress {
  font-weight: 400;
  font-size: 14;
  line-height: 1.88;
  letter-spacing: 0.03em;
  text-decoration: none;
  color: #ffffff;
}
.box-bottom {
  display: flex;
  justify-content: flex-start;
}

.box-bottom {
  text-align: left;
}
